html {
  font-size: 0.625em;
}

/*  em: n배 */
body {
  font-size: 1rem;
  /* 글꼴군(제너릭):serif */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

/* rem: 루트 기준으로 n배 */
/* font-size에서는 em과 %는 동일하지만 margin, line-height에서는 차이가 있을 수 있음 */
h1 {
  font-size: 300%;
}

p {
  font-size: 2em;
  /* 가급적 line-height에서는 number 단위를 사용할 것 */
  line-height: 1.5;
}